.about-section {
	padding-block: 4rem;
	overflow: hidden;
}

.about-content {
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
	gap: 1.5rem 3rem;
}

.about-content .about-me-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 40vw;
	gap: 3rem;
}

.bg-about-text {
	position: absolute;
	font-size: 18rem;
	opacity: 0.08;
	top: -10vh;
	left: 10vw;
	z-index: 8;
}

/* Imagem */
.about-me {
	position: relative;
	max-width: 300px;
	height: auto;
}

img {
	width: 100%;
	height: 100%;
	border-radius: 0.3rem;
	transition: var(--transition);
}

.about-me-image::after {
	content: '';
	position: absolute;
	background-color: var(--color-green);
	width: 100%;
	height: 100%;
	left: 1rem;
	border-radius: 0.3rem;
	top: 0.5rem;
	z-index: -10;
	transition: 0.3s ease;
}

.about-me-image::after img:hover {
	transform: translateX(-20px);
}

/* Descrição */
.language-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(160px, 300px), 1fr));
	gap: 1.5rem;
	opacity: 0.7;
	place-content: center;
	padding-inline: 12vw;
}

.language-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 150px;
	align-items: center;
	border-radius: 0.3rem;
	padding: 2rem;
	text-align: center;
	filter: grayscale(1);
	transition: filter 0.5s ease-in-out;
}

.language-card:hover {
	filter: grayscale(0);
	cursor: default;
	transition: filter 0.5s ease-in-out;
}

.language-card:hover small {
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.language-card:before {
	content: attr(data-hover);
	color: var(--color-bg-matte);
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 125px;
	bottom: 0;
	left: 0;
	right: 0;
	transition: opacity 1s ease-in-out;
}

.language-card:hover:before {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.language-icon {
	color: var(--color-accent);
	font-size: 1.4rem;
}

.language-card small {
	margin-top: 10px;
	font-size: 0.7rem;
	color: var(--color-bg-matte);
}

@media screen and (max-width: 900px) {
	.about-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 3rem;
	}
}

@media screen and (max-width: 600px) {
	.language-cards {
		grid-template-columns: 150px 150px;
		place-items: center;
	}
	.about-content .about-me-text {
		max-width: 100vw;
	}
}
