.about-container {
  display: grid;
  grid-template-columns: 25% 50%;
  justify-content: center;
  place-items: center;
  gap: 15%;
}

.about-section {
  position: relative;
}

/* Imagem */
.about-me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, var(--color-bege), transparent);
  display: grid;
  place-items: center;
}

.about-me-image {
  width: auto 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition)
}

.about-me-image:hover {
  transform: rotate(0)
}

.about-content p {
  color: var(--color-bege);
  padding: 2rem 0;
}


/* Descrição */
.language-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.language-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  transition: var(--transition);
}

.language-card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.language-icon {
  color: var(--color-accent);
  font-size: 1.4rem;
 
}

.language-card small {
  margin-top: 10px;
  font-size: 0.7rem;
  color: var(--color-bege);
}
