$type-scale: (
	small: (
		300: 0.7rem,
		400: 0.95rem,
		500: 1.4rem,
		600: 1.9rem,
		700: 2.441rem,
		800: 4.152rem,
	),
	medium: (
		300: 0.8rem,
		400: 1rem,
		500: 1.7rem,
		600: 2.4rem,
		700: 4.5rem,
		800: 7.653rem,
	),
);
