$type-scale: (
	small: (
		300: 0.7rem,
		400: 0.85rem,
		500: 1.1rem,
		600: 1.9rem,
		700: 2.441rem,
		800: 7rem,
	),
	medium: (
		300: 0.8rem,
		400: 1rem,
		500: 1.3rem,
		600: 2.4rem,
		700: 4rem,
		800: 10rem,
	),
);
