.btn {
	display: inline-block;
	width: max-content;
	color: var(--color-accent);
	background: transparent;
	padding: 0.75rem 1.2rem;
	border-radius: 0.2rem;
	cursor: pointer;
	border: 1px solid var(--color-accent);
	transition: var(--transition);
	text-align: center;
}

.btn:hover {
	background-color: var(--color-bege);
	color: var(--color-bg-variant);
	border-color: transparent;
	opacity: 0.7;
}

@media screen and (max-width: 600px) {
	.page-header .btn {
		display: none;
	}
}
