@use '../abstracts' as *;

.mobile-display {
	display: none;
	@include mq(sm) {
		display: block;
	}
}

.separator {
	content: '';
	border: 1.5px solid var(--clr-primary-light);
	margin-bottom: 0.5rem;
	opacity: 0.5;
}

.section-header {
	font-family: var(--ff-montreal);
	font-size: calc(var(--fs-800) * 2.5);
	padding-block: 8rem;
	@include mq(md) {
		margin-bottom: 2rem;
	}
}

.big-header {
	position: absolute;
	opacity: 0.015;
	top: 2vh;
	left: 0;
	color: var(--clr-neutral-base);
	line-height: 0.8;
	letter-spacing: -8px;
	@include mq(sm) {
		top: 0vh;
	}
}
