@use '../abstracts' as *;

.mobile-display {
	display: none;
	@include mq(sm) {
		display: block;
	}
}

.relative {
	position: relative;
}

.flex {
	display: flex;
}

.separator {
	height: 2px;
	background: var(--clr-accent-base);
}

.section-header {
	font-family: var(--ff-general);
	font-size: clamp(5rem, 16vw, 12rem);
	padding-top: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

.big-header {
	opacity: 0.05;
	color: var(--clr-neutral-base);
	letter-spacing: -8px;
}

.blur {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 2;
	backdrop-filter: blur(12vmax);
}

.is-scrolling {
	pointer-events: none;
	opacity: 0;
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}

	50% {
		scale: 1 1.5;
	}

	to {
		rotate: 360deg;
	}
}
