@font-face {
	font-family: 'Antique Olive';
	font-style: bold;
	font-weight: 700;
	src: url(/src/assets/fonts/Antique-Olive-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Bodoni';
	src: url(/src/assets/fonts/bodoni-seventytwo-itc-book.ttf) format('truetype');
}

@font-face {
	font-family: 'Apercu Mono';
	src: url(/src/assets/fonts/ApercuMonoProRegular.ttf) format('truetype');
}

@font-face {
	font-family: 'Montreal';
	src: url(/src/assets/fonts/NeueMontreal-Regular.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
