@use '../abstracts' as *;
.App {
	position: relative;
}

* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
}

/* General */
section,
main {
	min-height: fit-content;
	overflow: hidden;
}

body::-webkit-scrollbar {
	width: 0.35em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--clr-accent-base);
	border-radius: 0.1875rem;
	cursor: grab;
}

.container {
	width: calc(100% - 6vw);
	margin-inline: auto;

	@include mq(md) {
		width: calc(100% - 12vw);
	}
}
.container-small {
	width: calc(100% - 6vw);
	margin-inline: auto;
	transition: 200ms;

	@include mq(lg) {
		width: calc(100% - 40vw);
	}
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.rotating {
	-webkit-animation: rotating 10s linear infinite;
	-moz-animation: rotating 10s linear infinite;
	-ms-animation: rotating 10s linear infinite;
	-o-animation: rotating 10s linear infinite;
	animation: rotating 10s linear infinite;
}
