@use '../abstracts' as *;

:root {
	@each $color, $shade in $colors {
		@each $prop, $value in $shade {
			--clr-#{$color}-#{$prop}: #{$value};
		}
	}

	@each $screen-size, $property in $type-scale {
		@if $screen-size == small {
			@each $prop, $value in $property {
				--fs-#{$prop}: #{$value};
			}
		} @else {
			@include mq(sm) {
				@each $prop, $value in $property {
					--fs-#{$prop}: #{$value};
				}
			}
		}
	}

	--ff-apercu: 'Apercu Mono', sans-serif;
	--ff-antique: 'Antique Olive', sans-serif;
	--ff-matter: 'Matter', sans-serif;
	--ff-fig: 'Figtree', sans-serif;
	--ff-general: 'General Sans', sans-serif;
}
