@use '../abstracts' as *;

body {
	font-size: var(--fs-400);
	font-family: var(--ff-matter);
	background-color: var(--clr-primary-base);
	letter-spacing: -0.5px;
}

h1,
h2,
h3 {
	font-weight: normal;
	line-height: 1;
	font-family: var(--ff-fig);
	color: var(--clr-neutral-base);
	transition: font-size 0.25s linear;
}
h1 {
	font-size: clamp(3.5rem, 8vw, 10rem);
	letter-spacing: -4.2px;
}

h2 {
	font-size: var(--fs-700);
	font-weight: 400;
}
h3 {
	font-size: var(--fs-600);
}

h4 {
	font-size: var(--fs-600);
	color: var(--clr-neutral-base);
	font-weight: 400;
	transition: font-size 0.25s linear;
	// text-transform: uppercase;
	// letter-spacing: 3px;
}

h5 {
	font-size: var(--fs-600);
	color: var(--clr-neutral-base);
	font-weight: 500;
	font-family: var(--ff-fig);
	transition: font-size 0.25s linear;
}

p {
	font-size: var(--fs-400);
	font-family: var(--ff-matter);
	transition: font-size 0.25s linear;
}

small {
	// font-size: var(--fs-400);
	font-family: var(--ff-apercu);
	color: var(--clr-neutral-base);
}
span {
	font-family: var(--ff-matter);
	font-size: var(--fs-300);
}

// a {
// 	color: var(--clr-neutral-base);
// 	@include transition(ease-in-out 0.3s all);

// 	&:hover,
// 	&:focus {
// 		color: var(--clr-neutral-base);
// 		text-decoration: none;
// 	}
// }

::placeholder {
	color: var(--clr-primary-light);
	font-family: var(--ff-apercu);
	font-size: var(--fs-400);
}

.right {
	text-align: end;
	right: 0;
}

.left {
	text-align: start;
	left: 0;
}

.uppercase {
	text-transform: uppercase;
}

ul {
	padding: 0;
}
