@use '../abstracts' as *;

body {
	font-size: var(--fs-400);
	font-family: var(--ff-primary);
	background-color: var(--clr-primary-base);
	letter-spacing: -0.5px;
	overflow-x: hidden;
}

h1,
h2,
h3 {
	font-weight: normal;
	font-stretch: 100%;
	line-height: 1.1;
	font-family: var(--ff-bodoni);
	color: var(--clr-neutral-base);
	transition: font-size 0.25s linear;
}

h1 {
	font-size: calc(var(--fs-800) * 1.7);
	font-family: var(--ff-primary);
}

h2 {
	font-size: var(--fs-700);
	font-weight: 400;
}
h3 {
	font-size: var(--fs-600);
}

h4 {
	font-size: var(--fs-500);
	color: var(--clr-neutral-base);
	filter: blur(0.6px);
	font-weight: 400;
	font-family: var(--ff-bodoni);
	transition: font-size 0.25s linear;
}

h5 {
	font-size: var(--fs-400);
	color: var(--clr-neutral-base);
	font-weight: 500;
	font-family: var(--ff-primary);
	letter-spacing: 3px;
	text-transform: uppercase;
	transition: font-size 0.25s linear;
}

p {
	font-size: var(--fs-400);
	font-family: var(--ff-montreal);
	transition: font-size 0.25s linear;
}

small {
	font-size: var(--fs-300);
	font-family: var(--ff-apercu);
}

button {
	font-family: var(--ff-apercu);
}

span {
	font-size: var(--fs-300);
	color: var(--clr-accent-base);
}

a {
	color: var(--clr-neutral-base);
	@include transition(ease-in-out 0.3s all);

	&:hover,
	&:focus {
		color: var(--clr-neutral-base);
		text-decoration: none;
	}
}

::placeholder {
	color: var(--clr-neutral-dark);
	font-family: var(--ff-apercu);
}

.right {
	text-align: end;
	right: 0;
}

.left {
	text-align: start;
	left: 0;
}

.uppercase {
	text-transform: uppercase;
}

ul {
	padding: 0;
}
