.header {
  padding-top: 15rem;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 20px;
  left: 80px;
}

/* Botões */
.cta {
  position: absolute;
  top: 40px;
  right: 60px;
}

/* Social Media */
.social-media {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
  left: 5rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

ul li{
  position: relative;
  display: block;
  color: var(--color-primary-variant);
  font-size: 20px;
  height: 30px;
  width: 30px;
  background: var(--color-bg);
  border-radius: 50%;
  margin: 15px 15px;
  cursor: pointer;
  transition: .5s;
}
ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  transform: scale(.9);
  z-index: -2;
  transition: .5s;
}
ul li:nth-child(1):before{
  background: #4267B2;
}
ul li:nth-child(2):before{
  background: #068f56;
}
ul li:nth-child(3):before{
  background: #E1306C;
}
ul li:nth-child(4):before{
  background: #828485;
}
ul li:hover:before{
  filter: blur(3px);
  transform: scale(1.1);
  box-shadow: 0 0 15px #d35400;
}
ul li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
ul li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #068f56;
}
ul li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
ul li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #737475;
}

ul li:nth-child(1):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
ul li:nth-child(2):hover{
  color: #068345;
  box-shadow: 0 0 15px #068345;
  text-shadow: 0 0 15px #32b674;
}
ul li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
ul li:nth-child(4):hover{
  color: #737475;
  box-shadow: 0 0 15px #737475;
  text-shadow: 0 0 15px #737475;
}

/* Imagem e Shape */
/* .me {
  background: linear-gradient(var(--color-primary-variant), transparent);
  width: 22rem;
  height: 30rem; 
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me > img {
  position: absolute;
  opacity: 0.8;
  right: 0;
  width: 100%;
  bottom: 5px;
} */

/* Seta Scroll Down */
.scroll-arrow {
  position: absolute;
  top: 90%;
  right: 110px;  
  transform: translateX(-50%);
  animation: fadeBounce 3s infinite;
}

.shape {
  background-color: var(--color-bg-variant);
  position: absolute;
  right: 30%;
  transform: translate(50%, -50%);
  height: 400px;
  width: 400px;
  border: solid 3px var(--color-bg);
  z-index: 1;
}

.shape::before {
  content: '';
  background-color:  var(--color-bg);
  position: absolute;
  bottom: 15px;
  left: 15px;
  border: outset 5px #068345;
  height: 390px;
  width: 390px;
  z-index: -5;
}

.image-header img {
  position: absolute; 
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
}

/* Animações */
@keyframes fadeBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header Media Queries */
/* ================= Media Queries (Médio) ==================== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
} 
/* ================= Media Queries (Pequeno) ==================== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials {
    display: none;
  }
}