@use '../abstracts' as *;

.about-container {
	display: flex;
	justify-content: center;

	@include mq(lg) {
		flex-direction: row;
	}
}

.about-content {
	position: relative;
	display: flex;
	justify-content: center;
}

.about-description {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem 4vw;
	padding-top: 2rem;

	@include mq(md) {
		flex-direction: row;
	}

	.content-right-col {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: space-between;
		flex: 3;

		.about-text {
			p {
				font-size: clamp(1.2rem, 1.2vw, 2.5rem);
				line-height: 2rem;

				@include mq(md) {
					line-height: 2.5rem;
				}
			}
		}
	}

	.content-left-col {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		border-radius: 2rem;
		gap: 1rem;
		flex: 1;

		img {
			width: 300px;
			object-fit: cover;
		}
	}

	@include mq(lg) {
		.arrow-wrapper {
			color: var(--clr-accent-base);
			background: var(--clr-neutral-base);
			border-radius: 50%;
			width: 7rem;
			height: 7rem;
			font-size: 4.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			svg {
				animation: fadeBounce 2s infinite;
			}
		}
	}

	p {
		color: var(--clr-neutral-base);
	}
	span {
		color: var(--clr-neutral-dark);
		font-size: var(--fs-400);
	}
}

.slide-wrapper {
	position: relative;
	margin-block: 4rem;
	padding: 2.5rem;
}

.logo-slider {
	filter: grayscale(0.9);
	width: 3.8rem;
	&:hover {
		filter: none;
	}
}
