@use '../abstracts' as *;

.about-container {
	display: flex;
	justify-content: center;

	@include mq(lg) {
		flex-direction: row;
	}
}

.about-content {
	position: relative;
	display: flex;
	justify-content: center;
}

.about-description {
	display: flex;
	justify-content: center;
	gap: 4rem;
	flex-direction: column;

	@include mq(lg) {
		flex-direction: row;
	}

	.content-right-col {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 0.5rem;
		flex-basis: 1;

		small {
			color: var(--clr-primary-light);
			letter-spacing: 2px;
		}
	}
	.content-left-col {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		border-radius: 2rem;
		gap: 1rem;
		flex-basis: 1;

		.text-right {
			color: var(--clr-primary-light);
			font-weight: 500;
		}

		span {
			font-size: var(--fs-600);
			color: var(--clr-neutral-base);
		}

		small {
			color: var(--clr-accent-base);
			letter-spacing: 2px;
		}
	}

	.arrow-wrapper {
		display: none;
	}

	@include mq(lg) {
		.arrow-wrapper {
			color: var(--clr-neutral-base);
			background: var(--clr-primary-dark);
			border-radius: 50%;
			width: 8rem;
			height: 8rem;
			font-size: 5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			svg {
				animation: fadeBounce 2s infinite;
			}
		}
	}

	p {
		color: var(--clr-neutral-base);
		line-height: 2rem;
	}
	span {
		color: var(--clr-neutral-dark);
		font-size: var(--fs-400);
	}
}

.about-big-text {
	font-family: var(--ff-fig);
	font-size: calc(var(--fs-800) * 2.5);
	opacity: 0.05;
	color: var(--clr-neutral-base);
	letter-spacing: -8px;
}

.slide-wrapper {
	margin-top: 8rem;
}

.logo-slider {
	filter: grayscale(1);
	width: 5rem;
	&:hover {
		filter: none;
	}
}

.about-socials {
	border: solid 1px var(--clr-accent-base);
	border-radius: 2rem;
	padding: 1rem;
	width: 2rem;
}
