@use '../abstracts' as *;

#contact-section {
	background-color: var(--clr-neutral-base);
	border-radius: 3rem;
	padding: 2rem;
	height: auto;
}

.contact {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	gap: 2.5rem;

	@include mq(md) {
		padding: 2rem;
	}
}

.contact-col {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	flex: 1;

	.info-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		.info-option {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			span {
				color: var(--clr-primary-light);
				text-transform: uppercase;
				letter-spacing: 2px;
			}

			.info-desc {
				p {
					color: var(--clr-primary-light);
					font-size: var(--fs-500);
				}
				a {
					background-image: linear-gradient(
						to right,
						var(--clr-accent-base),
						var(--clr-accent-base) 50%,
						var(--clr-primary-light) 50%
					);
					background-size: 200% 100%;
					background-position: 100%;
					display: inline-block;
					padding: 5px 0;
					position: relative;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					transition: all 0.3s ease-in-out;
				}

				a:hover {
					background-position: 0;
				}
			}
		}
	}

	.contact-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--clr-neutral-light);
		height: 18rem;
		width: 18rem;
		border-radius: 50%;
		cursor: pointer;
		svg {
			font-size: 14rem;
			color: var(--clr-accent-base);
		}
	}

	@include mq(md) {
		gap: 5rem;
	}
}

// Form

.form-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;

	.header-wrapper {
		display: flex;
		align-items: end;

		h2 {
			display: flex;
			color: var(--clr-primary-light);
			opacity: 0.04;
			letter-spacing: -11px;
			font-size: clamp(5.5rem, 10vw, 12rem);
		}
	}

	form {
		border-radius: 2rem;
		display: flex;
		flex-direction: column;
		gap: 0.8rem;

		@include mq(md) {
			padding-left: 4rem;
			gap: 3rem;
		}

		input,
		textarea {
			width: 100%;
			padding: 0.8rem 1rem;
			border-radius: 0.2rem;
			background-color: #e9e7e2;
			color: var(--clr-neutral-light);
			resize: none;
		}

		input:focus-within,
		textarea:focus-within {
			color: var(--clr-primary-light);
			background-color: transparent;
			border-bottom: 1px solid var(--clr-neutral-dark);
		}

		.text-message {
			display: flex;
		}
	}
}
