@use '../abstracts' as *;

.hero-section {
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem;
}

.nav-links {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.hero-main-container {
	height: 100vh;

	.hero-image-wrap {
		position: absolute;
		top: 10vh;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 38vw;
		height: 65vh;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			scale: 1;
			border-radius: 2rem;
			opacity: 0.7;
		}
	}

	.hero-text-wrap {
		position: relative;
		text-align: center;
		top: 14vh;
		left: 0;
		letter-spacing: -5px;
		font-size: clamp(1.8rem, 3.5vw, 6rem);
		@include mq(md) {
			position: absolute;
			left: 20%;
			letter-spacing: -8px;

			.hero-name {
				font-weight: 500;
			}

			.hero-title-top {
				left: 10vw;
			}
			.hero-title-bottom {
				left: 10vw;
			}
		}
	}
}

.icon-up {
	color: var(--clr-accent-base);
	font-size: var(--fs-400);
	text-align: end;

	svg {
		font-size: 2rem;
		margin-right: 1rem;
	}
}

.arrow-wrapper {
	position: absolute;
	bottom: 12rem;
	left: -4rem;
	color: var(--clr-neutral-base);
	background: var(--clr-primary-light);
	border-radius: 50%;
	width: 12rem;
	height: 12rem;
	font-size: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&::after {
		content: '';
		position: absolute;
		display: block;
		inset: 0;
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}

	svg {
		animation: fadeBounce 2s infinite;
	}
}
