@use '../abstracts' as *;

.hero-section {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;

	.location-text {
		position: absolute;
		bottom: 7vh;
		right: 0;

		p {
			color: var(--clr-neutral-base);
			font-size: var(--fs-500);
			margin-block: 0.3rem;
		}

		.date {
			p {
				color: var(--clr-primary-light);
			}
		}
	}

	.scroll-down {
		position: absolute;
		bottom: 3vh;
		left: 0;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem;
}

.nav-links {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.hero-main-container {
	height: 100vh;

	.hero-text-wrap {
		margin-top: 10vh;

		.hero-luis {
			font-size: clamp(1.3rem, 2.2vw, 5.5rem);
			color: var(--clr-neutral-light);
			margin-right: 0.5rem;
		}
		.hero-viegas {
			font-size: clamp(1.3rem, 2.2vw, 5.5rem);
			color: var(--clr-primary-light);
		}

		.hero-title-top {
			font-size: clamp(4rem, 15vw, 9rem);
		}
		.hero-title-middle {
			font-size: clamp(4rem, 15vw, 9rem);
			@include mq(md) {
				left: 2.9rem;
			}
		}
	}
}

.icon-up {
	color: var(--clr-accent-base);
	font-size: var(--fs-400);
	text-align: end;

	svg {
		font-size: 2rem;
		margin-right: 1rem;
	}
}
