@use '../abstracts' as *;

.hero-section {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;

	.location-text {
		position: absolute;
		bottom: 6vh;
		right: 0;

		p {
			color: var(--clr-neutral-base);
			font-size: var(--fs-400);
			margin-block: 0.3rem;
		}

		.date {
			p {
				color: var(--clr-primary-light);
			}
		}
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem;
}

.nav-links {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.hero-main-container {
	height: 100vh;

	.hero-text-wrap {
		margin-top: 13vh;

		.hero-name {
			font-size: clamp(2rem, 4.5vw, 9rem);
			color: var(--clr-primary-light);
			font-weight: 700;
			transition: all 2s cubic-bezier(0.165, 0.04, 0.44, 1);

			span {
				font-size: clamp(2rem, 4.5vw, 9rem);
				color: var(--clr-neutral-base);
			}
		}

		.hero-title-top {
			font-size: clamp(3.5rem, 8vw, 9rem);
			font-weight: 700;
			transition: all 2s cubic-bezier(0.165, 0.04, 0.44, 1);
		}
		.hero-title-middle {
			left: 4rem;
			font-weight: 700;
			font-size: clamp(3.5rem, 8vw, 10rem);
			transition: all 2s cubic-bezier(0.165, 0.04, 0.44, 1);
		}
	}
}

.icon-up {
	color: var(--clr-accent-base);
	font-size: var(--fs-400);
	text-align: end;

	svg {
		font-size: 2rem;
		margin-right: 1rem;
	}
}
