.projects-page {
	// min-height: 100vh;
	margin-block: 6rem;
}

.project {
	border-top: 1px solid var(--clr-primary-light);
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.project-desc {
		font-size: var(--fs-400);
	}
	p {
		font-size: clamp(2.5rem, 8vw, 6.5rem);
		margin: 0px;
		text-transform: uppercase;
		color: var(--clr-neutral-base);
	}
	&:last-of-type {
		border-bottom: none;
	}
	&:first-of-type {
		border-top: none;
	}
	.imgContainer {
		overflow: hidden;
		display: flex;
		justify-content: center;
		width: 0;
	}
	img {
		width: 22vw;
	}
}
