.lng-switch {
	position: absolute;
	left: 0;
	right: 80px;
	top: 20px;
	cursor: pointer;
	z-index: 2;
}

.lng-switch ul {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 0.8rem;
	padding: 0;
	opacity: 0.5;

	cursor: pointer;
}
.lng-switch button {
	background-color: transparent;
	cursor: pointer;
}
