.contact-container {
  width: 58%;
  display: grid;
  grid-template-columns: 25% 50%;
  justify-content: center;  
  height: 50vw;
  gap: 5rem;
  margin: 100px;
}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  min-width: 220px;
}

.contact-option {
  background-color: var(--color-bg-variant);
  padding: 2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact-option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact-option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form-control {
  position: relative;
}

.form-control label {
  position: absolute;
  top: 20px;
  left: 20px;
}

.form-control label span {
  display: inline-block;
  font-size: 14px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: var(--color-accent);
  font-size: 18px;
  transform: translateY(-50px);
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

