.contact-container {
	display: grid;
	grid-template-columns: 25% 50%;
	justify-content: center;
	padding-top: 6rem;
	gap: 4rem;
}

.contact-options {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	min-width: 220px;
}

.contact-text {
	position: absolute;
	font-size: 18rem;
	opacity: 0.05;
	top: -10vh;
	left: 0;
	z-index: -5;
}

.contact-option {
	background-color: #242029;
	padding: 2rem;
	border-radius: 0.3rem;
	text-align: center;
	border: 1px solid transparent;
	transition: var(--transition);
}

.contact-option:hover {
	background: transparent;
	border-color: var(--color-green);
}

.contact-option a {
	margin-top: 0.7rem;
	display: inline-block;
	font-size: 0.8rem;
}

/* Formulário */
form {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

input,
textarea {
	width: 100%;
	padding: 1.5rem;
	border-radius: 0.2rem;
	background-color: var(--color-primary-light);
	resize: none;
	color: var(--color-white);
}

input:focus-within,
textarea:focus-within {
	border: 1px solid var(--color-accent);
	background-color: transparent;
}

@media screen and (max-width: 1024px) {
	.contact-container {
		grid-template-columns: 50% minmax(250px, 50%);
	}
}

@media screen and (max-width: 600px) {
	.contact-container {
		grid-template-columns: repeat(auto-fill, 300px);
	}

	.contact-options {
		max-width: 15rem;
		margin: 0 auto;
	}
	.contact-options,
	form {
		gap: 1rem;
	}
}
