.page-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	padding-block: 15px;
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	height: 80vh;
	font-size: clamp(2rem, 4vw, 8rem);
}

/* Main Image */
.image-header {
	position: absolute;
	top: 3rem;
	right: 0;
	max-height: 70vh;
	max-width: 180px;
	background-image: url(../../assets/images/me.jpg);
	overflow: hidden;
	transition: all 0.3s;
}
.image-header:hover {
	max-width: 350px;
}
.image-header::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
}
.image-header img {
	position: relative;
	width: 100%;
	height: 70vh;
	transition: all 0.3s;
	transform: scale(1.1);
	opacity: 0.6;
	z-index: 1;
	object-fit: cover;
	object-position: 75%;
}
.image-header:hover img {
	transform: scale(1);
	opacity: 0.8;
	object-position: 25% 75%;
	transition: ease-in-out all 0.4s;
}
.image-header .image-overlay {
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	position: absolute;
	margin: auto;
	width: 0px;
	height: 0px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: 0.4s ease;
	color: black;
	z-index: 20;
	padding: 2rem;
}
.image-header:hover .image-overlay {
	opacity: 1;
	width: 100%;
	height: 100%;
}
.image-header:hover .image-overlay > * {
	animation: fadeIn 1s ease-in-out 0.3s;
	animation-fill-mode: both;
}
.image-header:hover .overlay-text {
	opacity: 1;
	display: block;
	transition: opacity 0.5s linear 2s;
}

/* Contact Button Main */
.contact-btn-wrapper {
	position: relative;
	max-width: 300px;
}
.contact-btn-text {
	position: absolute;
	display: flex;
	justify-content: start;
	bottom: 45%;
	font-size: 22px;
	letter-spacing: 14px;
	line-height: 32px;
	transition: all 200ms ease-in-out;
}
.animated-border {
	fill: transparent;
	stroke-dasharray: 159 540;
	stroke-dashoffset: -540;
	stroke-width: 8px;
	stroke: var(--color-accent);
}
.contact-btn-wrapper:hover .contact-btn-text {
	letter-spacing: 2px;
	transform: translateX(110px);
	transition: 200ms ease-in-out;
}
.contact-btn-wrapper:hover .animated-border {
	-webkit-animation: 0.5s lineDraw linear forwards;
	animation: 0.5s lineDraw linear forwards;
}

/* Background Square Shape */
.bg-shape {
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
	width: 50vw;
	background-color: #242029;
	z-index: -5;
}

/* Scroll Down Arrow */
.scroll-wrap {
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}
.scroll-wrap small {
	margin-bottom: 2rem;
	position: relative;
}

.scroll-arrow {
	animation: fadeBounce 3s infinite;
	padding-top: 2rem;
}

/* Header Media Queries */
/* ================= Media Queries (Médio) ==================== */
@media screen and (max-width: 800px) {
	.image-header {
		pointer-events: none;
	}
}
/* ================= Media Queries (Pequeno) ==================== */
@media screen and (max-width: 600px) {
	.hero-container {
		height: 60vh;
	}
	.image-header {
		position: absolute;
		top: 55vh;
		left: 0;
		max-width: 100%;
		height: 150px;
		pointer-events: none;
	}
	.image-header img {
		width: 100%;
		height: 100%;
		aspect-ratio: 16/9;
		transform: scale(1);
		object-fit: contain;
		object-position: 50% 35px;
	}
}
