header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* CTA */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* Header Socials */
.header__socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.8rem;
  left: 5rem;
  /* bottom: 40%; */
}

/* .header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-bege);
} */

.header__socials:hover a {
  transform: scale(1.2);
}

/* Mains Image (ME) */
.me {
  background: linear-gradient(var(--color-primary-variant), transparent);
  width: 35rem;
  height: 35rem; 
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(50% - 17rem);
  margin-top: 3rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me > img {
  position: absolute;
  max-width:75%;
  height:auto;
  left: 5.5rem;
}

/* Arrow Down */
.center-con {
  position: absolute;
  right: -9rem;
  bottom: 2rem;
  font-weight: 300;
  font-size: 0.9rem;
}

.round {
  position: relative;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

span {
  z-index: 999;
  height: 1.5px;
  margin:1px;
  width: 15px;
  background: #fff;
  transition: 0.4s ease;
}

span:first-child {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 35%;
}

span:nth-child(2) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 35%;
}

span:nth-child(3) {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 54%;
}

span:nth-child(4) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 54%;
}
.round:hover {
  background-color: var(--color-bg-variant);
}

.round:hover span:nth-child(1) {
  transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
  transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
  transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
  transform: rotate(-225deg);
}

/* Header Media Queries */
/* ================= Media Queries (Medium Devices) ==================== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
} 
/* ================= Media Queries (Small Devices) ==================== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials {
    display: none;
  }
}