@use '../abstracts' as *;

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem 1.2rem;
	opacity: 0.6;
	color: var(--clr-neutral-base);

	small {
		font-size: calc(var(--fs-300) - 3px);
	}
}

.footer-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include mq(sm) {
		flex-direction: row;
	}
}
