.lng-switch {
	cursor: pointer;
	z-index: 2;

	ul {
		display: flex;
		justify-content: center;
		gap: 2rem;
		padding: 0;
		opacity: 0.7;
		cursor: pointer;
		li {
			a {
				text-transform: uppercase;
				color: var(--clr-neutral-dark);
				font-weight: 700;
				font-size: var(--fs-300);
				&:hover {
					color: var(--clr-neutral-base);
				}
			}
		}
	}
}
