.loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--clr-primary-dark);

	svg {
		-webkit-animation: sk-scaleout 5s infinite ease-in-out alternate;
		animation: sk-scaleout 5s infinite ease-in-out alternate;
		background-color: transparent;
	}

	small {
		color: var(--clr-neutral-base);
		-webkit-animation: sk-scaleout 5s infinite ease-in-out alternate;
		animation: sk-scaleout 5s infinite ease-in-out alternate;
		animation-fill-mode: both;
		letter-spacing: 1.8px;
		font-size: 0.8rem;
		margin-top: 1rem;
	}
}

.item {
	overflow: visible;
	stroke: var(--clr-neutral-dark);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.item-1 {
	overflow: visible;
	stroke: var(--clr-neutral-base);
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-linecap: round;
}

@keyframes sk-scaleout {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
