.social-links {
	ul {
		position: relative;
		display: flex;
		flex-direction: row;
		padding: 0;
		display: flex;
		flex-direction: row;
		padding: 0;
		z-index: 3;
		li {
			position: relative;
			display: block;
			text-align: center;
			color: var(--clr-primary-base);
			font-size: 1.2rem;
			height: 22px;
			width: 22px;
			border-radius: 50%;
			margin: 15px 15px;
			cursor: pointer;
			transition: 0.5s;
			a {
				color: var(--clr-neutral-dark);
				background: transparent;
				border-radius: 50%;
			}
			i {
				width: 100%;
				z-index: -1;
			}
			&:before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				height: inherit;
				width: inherit;
				border-radius: 50%;
				transform: scale(0.8);
				z-index: -1;
				transition: 0.5s;
			}
			&:hover {
				&:before {
					filter: blur(3px);
					transform: scale(1.1);
					box-shadow: 0 0 15px #d35400;
				}
			}
			&:nth-child(1):hover {
				&:before {
					box-shadow: 0 0 15px #4267b2;
				}
				a {
					color: #456cba;
					box-shadow: 0 0 15px #4267b2;
					text-shadow: 0 0 15px #4267b2;
				}
			}
			&:nth-child(2):hover {
				&:before {
					box-shadow: 0 0 15px #068f56;
				}
				a {
					color: #068345;
					box-shadow: 0 0 15px #068345;
					text-shadow: 0 0 15px #32b674;
				}
			}
			&:nth-child(3):hover {
				&:before {
					box-shadow: 0 0 15px #e1306c;
				}
				a {
					color: #e23670;
					box-shadow: 0 0 15px #e1306c;
					text-shadow: 0 0 15px #e1306c;
				}
			}
		}
	}
}
