.icon-list-nav {
	position: absolute;
	left: -1rem;
	max-width: 35rem;
	display: flex;
}

.icon-list-contact {
	display: flex;
	margin-left: -10px;
}

.icon-item {
	list-style: none;
}

.icon-link {
	display: inline-flex;
	font-size: 1.3rem;
	text-decoration: none;
	color: var(--clr-neutral-base);
	width: 3rem;
	height: 3rem;
	transition: 0.5s linear;
	position: relative;
	z-index: 1;
	margin: auto;
}

.icon-link:hover {
	color: #fff;
}

.icon-link i {
	margin: auto;
}

.icon-link::before {
	content: '';
	position: absolute;
	inset: 0;
	width: 3rem;
	height: 3rem;
	background: #000;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0);
	transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
	transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
	background: #000;
}

.icon-item:nth-child(2) a:hover:before {
	background: #e4405f;
}

.icon-item:nth-child(3) a:hover:before {
	background: #444444;
}

.icon-item:nth-child(4) a:hover:before {
	background: #0077b5;
}
