.footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  text-align: center;
  margin-top: 6rem;
  opacity: 0.6;
}

.footer-logo {
  margin-right: 35px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding: 0;
  margin-bottom: 3rem ;
}
