@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
.App {
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* General */
section,
main {
  min-height: -moz-fit-content;
  min-height: fit-content;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 0.35em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-light);
  cursor: grab;
}

.container {
  width: calc(100% - 6vw);
  margin-inline: auto;
}
@media only screen and (min-width: 768px) {
  .container {
    width: calc(100% - 12vw);
  }
}

.container-small {
  width: calc(100% - 6vw);
  margin-inline: auto;
  transition: 200ms;
}
@media only screen and (min-width: 1080px) {
  .container-small {
    width: calc(100% - 40vw);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 10s linear infinite;
}

body {
  font-size: var(--fs-400);
  font-family: var(--ff-space);
  background-color: var(--clr-primary-base);
  letter-spacing: -0.5px;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1;
  font-family: var(--ff-din);
  color: var(--clr-neutral-base);
  transition: font-size 0.25s linear;
}

h2 {
  font-size: var(--fs-700);
  font-weight: 400;
}

h3 {
  font-size: var(--fs-600);
  font-weight: 400;
}

h4 {
  font-size: var(--fs-600);
  color: var(--clr-neutral-base);
  font-family: var(--ff-eiko);
  font-weight: 400;
  transition: font-size 0.25s linear;
}

h5 {
  font-size: var(--fs-500);
  color: var(--clr-neutral-base);
  font-weight: 500;
  font-family: var(--ff-din);
  transition: font-size 0.25s linear;
}

p {
  font-size: var(--fs-400);
  transition: font-size 0.25s linear;
}

small {
  color: var(--clr-neutral-base);
}

::-moz-placeholder {
  color: var(--clr-primary-light);
  font-family: var(--ff-apercu);
  font-size: var(--fs-400);
}

::placeholder {
  color: var(--clr-primary-light);
  font-family: var(--ff-apercu);
  font-size: var(--fs-400);
}

.right {
  text-align: end;
  right: 0;
}

.left {
  text-align: start;
  left: 0;
}

.uppercase {
  text-transform: uppercase;
}

ul {
  padding: 0;
}

@font-face {
  font-family: "Antique Olive";
  font-style: normal;
  font-weight: 700;
  src: url(/src/assets/fonts/Antique-Olive-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/src/assets/fonts/GeneralSans-Regular.otf) format("truetype");
}
@font-face {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 600;
  src: url(/src/assets/fonts/GeneralSans-Semibold.otf) format("truetype");
}
@font-face {
  font-family: "D-DIN Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(/src/assets/fonts/D-DINCondensed.otf) format("truetype");
}
@font-face {
  font-family: "PP Eiko";
  font-style: normal;
  font-weight: 400;
  src: url(/src/assets/fonts/PPEiko-Thin.otf) format("truetype");
}
@font-face {
  font-family: "Apercu Mono";
  src: url(/src/assets/fonts/ApercuMonoProRegular.ttf) format("truetype");
}
:root {
  --clr-primary-base: hsl(0, 0%, 12%);
  --clr-primary-light: hsl(240, 0%, 42%);
  --clr-primary-dark: hsl(194, 65%, 8%);
  --clr-accent-base: hsl(81, 69%, 42%);
  --clr-accent-light: hsl(13, 100%, 55%);
  --clr-accent-dark: hsl(171, 100%, 43%);
  --clr-neutral-base: hsl(44, 53%, 92%);
  --clr-neutral-light: hsl(28, 27%, 100%);
  --clr-neutral-dark: hsl(32.1, 38%, 63.3%);
  --fs-300: 0.75rem;
  --fs-400: 0.85rem;
  --fs-500: 1.1rem;
  --fs-600: 1.4rem;
  --fs-700: 4rem;
  --fs-800: 1.8rem;
  --ff-apercu: "Apercu Mono", sans-serif;
  --ff-antique: "Antique Olive", sans-serif;
  --ff-matter: "Matter", sans-serif;
  --ff-fig: "Figtree", sans-serif;
  --ff-general: "General Sans", sans-serif;
  --ff-din: "D-DIN Condensed", sans-serif;
  --ff-space: "Space Grotesk", sans-serif;
  --ff-eiko: "PP Eiko", sans-serif;
}
@media only screen and (min-width: 480px) {
  :root {
    --fs-300: 0.85rem;
    --fs-400: 1rem;
    --fs-500: 1.3rem;
    --fs-600: 1.8rem;
    --fs-700: clamp(4.5rem, 9vw, 8rem);
    --fs-800: clamp(2rem, 2.95vw, 3.7rem);
  }
}

.mobile-display {
  display: none;
}
@media only screen and (min-width: 480px) {
  .mobile-display {
    display: block;
  }
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.separator {
  height: 2px;
  background: var(--clr-accent-base);
}

.section-header {
  font-family: var(--ff-din);
  font-size: clamp(5.5rem, 16vw, 12rem);
  padding-top: 6vh;
  font-weight: 700;
  text-transform: uppercase;
}
.section-header span {
  font-weight: 400;
}

.big-header {
  color: var(--clr-neutral-base);
}
.big-header span {
  color: var(--clr-accent-base);
}

.blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  -webkit-backdrop-filter: blur(12vmax);
          backdrop-filter: blur(12vmax);
}

.is-scrolling {
  pointer-events: none;
  opacity: 0;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  background-color: var(--clr-primary-dark);
}
.loading svg {
  animation: sk-scaleout 5s infinite ease-in-out alternate;
  background-color: transparent;
}
.loading small {
  color: var(--clr-neutral-base);
  animation: sk-scaleout 5s infinite ease-in-out alternate;
  animation-fill-mode: both;
  letter-spacing: 1.8px;
  font-size: 1.5rem;
  margin-top: 1rem;
  position: absolute;
  bottom: 4rem;
}

.item {
  overflow: visible;
  stroke: var(--clr-neutral-dark);
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.item-1 {
  overflow: visible;
  stroke: var(--clr-neutral-base);
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}

@keyframes sk-scaleout {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
button {
  font-family: var(--ff-apercu);
}

.btn-home {
  position: relative;
  padding: 1.2rem 3rem;
  border-radius: 100vw;
  background-color: transparent;
  border: solid 2px var(--clr-primary-light);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.btn-home .button-text {
  position: relative;
  z-index: 2;
  color: var(--clr-neutral-base);
}
.btn-home span {
  font-family: var(--ff-apercu);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
}
.btn-home .fill-container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding-bottom: 100%;
  transform: translateY(-50%) rotate(180deg);
}
.btn-home .fill-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-light);
  border-radius: 50%;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(-100%);
}
.btn-home:hover {
  border-color: var(--clr-accent-base);
  transform: translateX(-4px);
}
.btn-home:hover .fill-container {
  transform: translateY(-50%) rotate(0);
}
.btn-home:hover .fill-container::after {
  transform: translateY(0);
}

.btn-form {
  position: relative;
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  height: 100%;
  background-color: var(--clr-accent-base);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.btn-form .button-text {
  position: relative;
  z-index: 2;
  color: var(--clr-neutral-base);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-primary-base);
}

.footer-main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
}
@media only screen and (min-width: 768px) {
  .footer-main {
    flex-direction: row;
    padding-block: 4rem;
  }
}

.footer-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--clr-neutral-base);
}
.footer-logo P {
  font-size: var(--fs-500);
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.background {
  position: relative;
  width: 3.8rem;
  height: 3.8rem;
  z-index: 2;
}

nav button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 9px;
  left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 3;
}
nav button::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: -4px;
  left: -2px;
  border: 1px solid var(--clr-accent-base);
  border-radius: 50%;
}
nav ul {
  position: absolute;
  top: 200%;
  right: 5rem;
  z-index: 4;
}
nav ul a {
  color: var(--clr-primary-dark);
}
nav li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section-link {
  font-family: var(--ff-din);
  font-weight: 700;
  font-size: clamp(6.5rem, 18vw, 13rem);
  flex: 1;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
}

.nav-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  letter-spacing: 4px;
}
@media only screen and (min-width: 768px) {
  .nav-content {
    flex-direction: row;
    align-items: center;
    gap: 10vw;
  }
}
.nav-content i {
  color: var(--clr-accent-base);
  font-size: var(--fs-300);
}
.nav-content p {
  font-size: var(--fs-400);
  color: var(--clr-primary-light);
}

.icon-list-nav {
  position: absolute;
  left: -1rem;
  max-width: 35rem;
  display: flex;
}

.icon-list-contact {
  display: flex;
  margin-left: -10px;
}

.icon-item {
  list-style: none;
}

.icon-link {
  display: inline-flex;
  font-size: 1.65rem;
  text-decoration: none;
  color: var(--clr-neutral-base);
  width: 3rem;
  height: 3rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;
}

.icon-link::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 3rem;
  height: 3rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background: #000;
}

.icon-item:nth-child(2) a:hover:before {
  background: #e4405f;
}

.icon-item:nth-child(3) a:hover:before {
  background: #444444;
}

.icon-item:nth-child(4) a:hover:before {
  background: #0077b5;
}

.icon-project a {
  display: inline-flex;
  font-size: 2rem;
  text-decoration: none;
  color: var(--clr-primary-light);
  width: 3rem;
  height: 3rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.social-nav {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}
.social-nav p {
  font-size: clamp(1.4rem, 3vw, 3rem);
  color: var(--clr-accent-base);
}

.secondary-project-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.secondary-project-container .secondary-project {
  background-color: #16161e;
  padding: 1rem;
  height: 220px;
  width: 340px;
  cursor: pointer;
}
.secondary-project-container .secondary-project p {
  color: var(--clr-primary-light);
}
.secondary-project-container .secondary-image {
  margin-top: 0.5rem;
}
.secondary-project-container .secondary-image img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.logo {
  position: relative;
  z-index: 5;
}
.logo span {
  font-size: var(--fs-500);
  color: var(--clr-neutral-dark);
  letter-spacing: -1.5px;
}

.lng-switch {
  cursor: pointer;
  z-index: 2;
}
.lng-switch ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  opacity: 0.7;
  cursor: pointer;
}
.lng-switch ul li a {
  text-transform: uppercase;
  color: var(--clr-neutral-dark);
  font-weight: 700;
  font-size: var(--fs-300);
}
.lng-switch ul li a:hover {
  color: var(--clr-neutral-base);
}

.hero-section {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.hero-section::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  right: 50%;
  width: 100%;
  background: linear-gradient(90deg, rgb(30, 30, 30) 0%, rgb(64, 64, 64) 50%, rgb(30, 30, 30) 100%);
}
.hero-section .scroll-down {
  position: absolute;
  bottom: 2vh;
  right: -0.8rem;
  color: var(--clr-accent-base);
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.hero-section .scroll-down svg {
  animation: fadeBounce 1s infinite;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}
.header .nav-content img {
  width: 80px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero-main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .hero-main-container {
    align-items: normal;
  }
}
.hero-main-container .hero-description h4 {
  font-size: var(--fs-400);
  color: var(--clr-primary-light);
  margin-top: 10vh;
  text-transform: uppercase;
  text-align: justify;
  text-justify: inter-word;
  font-family: var(--ff-space);
  text-indent: 20%;
  width: 40ch;
}
.hero-main-container .hero-description b {
  color: var(--clr-neutral-base);
}
.hero-main-container .hero-headers {
  text-align: end;
}
.hero-main-container .hero-headers .hero-header-top {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-600);
  font-family: var(--ff-din);
  align-items: end;
  margin-top: 15vh;
}
@media only screen and (min-width: 768px) {
  .hero-main-container .hero-headers .hero-header-top {
    margin-top: 11vh;
    border-bottom: 1px solid transparent;
    -o-border-image: linear-gradient(90deg, rgb(30, 30, 30) -15%, rgb(116, 116, 116) 100%) 1;
       border-image: linear-gradient(90deg, rgb(30, 30, 30) -15%, rgb(116, 116, 116) 100%) 1;
  }
}
.hero-main-container .hero-headers .hero-header-top .hero-socials {
  position: absolute;
  bottom: 3vh;
  left: 0;
  color: var(--clr-neutral-base);
  cursor: pointer;
  text-align: end;
}
.hero-main-container .hero-headers .hero-header-top .hero-socials ul {
  display: flex;
  font-size: var(--fs-300);
  gap: 4rem;
  letter-spacing: 5px;
}
@media only screen and (min-width: 768px) {
  .hero-main-container .hero-headers .hero-header-top .hero-socials {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1rem;
  }
}
.hero-main-container .hero-headers .hero-title-top {
  font-size: var(--fs-700);
  font-family: var(--ff-din);
  text-align: end;
  font-weight: 700;
  border-bottom: 1px solid transparent;
  -o-border-image: linear-gradient(90deg, rgb(30, 30, 30) -25%, rgb(64, 64, 64) 100%) 1;
     border-image: linear-gradient(90deg, rgb(30, 30, 30) -25%, rgb(64, 64, 64) 100%) 1;
}
.hero-main-container .hero-headers .hero-title-bottom {
  font-size: var(--fs-800);
  font-family: var(--ff-eiko);
  margin-top: 3px;
}

.about-section {
  position: relative;
}
.about-section::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  left: 50%;
  width: 100%;
  background: linear-gradient(90deg, rgb(30, 30, 30) 0%, rgb(64, 64, 64) 50%, rgb(30, 30, 30) 100%);
}

.about-container {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
@media only screen and (min-width: 1080px) {
  .about-container {
    flex-direction: row;
  }
}

.about-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
}

.about-description {
  display: grid;
  grid-template-rows: auto;
}
.about-description .content-image {
  grid-row: 2;
}
.about-description .content-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-description .about-main-text {
  gap: 2rem;
  text-align: justify;
  text-justify: inter-word;
  width: 100%;
}
.about-description .about-main-text b {
  color: var(--clr-neutral-base);
}
.about-description .about-main-text p {
  font-size: var(--fs-400);
  text-transform: uppercase;
  color: var(--clr-primary-light);
  line-height: 1.5rem;
  text-indent: 20%;
}

.bottom-skills p,
.bottom-tools p {
  font-family: var(--ff-din);
  color: var(--clr-neutral-base);
  letter-spacing: 5px;
}
.bottom-skills h4,
.bottom-tools h4 {
  margin-block: 4rem;
}

.bottom-skills {
  grid-row: 3;
}

@media only screen and (min-width: 1080px) {
  .arrow-wrapper {
    color: var(--clr-accent-base);
    background: var(--clr-neutral-base);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .arrow-wrapper svg {
    animation: fadeBounce 2s infinite;
  }
}
.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 1.4rem;
  margin-block: 3rem;
}

.skills {
  display: flex;
}
.skills img {
  width: 35px;
  height: 35px;
  filter: grayscale(1);
}

@media only screen and (min-width: 768px) {
  .about-container {
    margin: 0 auto;
  }
  .about-description {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .about-description .content-image {
    grid-row: 1/4;
  }
  .about-description .about-main-text {
    grid-column-start: 2;
  }
  .about-description .bottom-tools {
    grid-column: 2;
    grid-row: 3;
  }
  .about-description .bottom-skills {
    grid-column: 2;
    grid-row: 2;
  }
}
.projects-page {
  margin-block: 4rem;
}

.project {
  border-top: 1px solid transparent;
  -o-border-image: linear-gradient(90deg, rgb(64, 64, 64) -25%, rgb(30, 30, 30) 100%) 1;
     border-image: linear-gradient(90deg, rgb(64, 64, 64) -25%, rgb(30, 30, 30) 100%) 1;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project .project-info {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.project .project-info .project-description {
  display: flex;
  justify-content: space-between;
}
.project .project-info .project-description p {
  font-size: var(--fs-300);
  color: var(--clr-primary-light);
}
.project .project-info .project-title {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.project .project-info .project-title svg {
  font-size: 2rem;
  color: var(--clr-primary-light);
}
.project h2 {
  font-size: clamp(3rem, 8vw, 7rem);
}
.project p {
  font-size: clamp(2.5rem, 8vw, 6.5rem);
  margin: 0px;
  text-transform: uppercase;
  color: var(--clr-neutral-base);
}
.project:last-of-type {
  border-bottom: none;
}
.project:first-of-type {
  border-top: none;
}
.project .imgContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 0.5rem;
}
.project img {
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  .project {
    flex-direction: row;
  }
  .project .project-info {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .project img {
    width: 35vw;
  }
}
#contact-section {
  background-color: hsl(0, 0%, 15%);
  border-radius: 0.5rem;
  border: solid 1px var(--clr-primary-light);
  padding: 2rem;
  height: auto;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 6rem;
}
@media only screen and (min-width: 768px) {
  .contact {
    padding: 2rem;
    flex-direction: row;
  }
}

.contact-col {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex: 1;
}
.contact-col .contact-text-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-col .contact-text-message p {
  color: var(--clr-neutral-base);
  font-size: var(--fs-400);
  line-height: 2rem;
  margin-bottom: 2rem;
}
.contact-col .info-option {
  display: flex;
  flex-direction: column;
}
.contact-col .info-option span {
  color: var(--clr-neutral-base);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact-col .info-option .info-desc-wrapper {
  display: flex;
  flex-direction: row;
}

.contact-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-neutral-base);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.contact-arrow svg {
  font-size: clamp(4rem, 6.5vw, 7rem);
  color: var(--clr-accent-base);
}
@media only screen and (min-width: 768px) {
  .contact-arrow {
    height: 10rem;
    width: 10rem;
  }
}

.form-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.form-col .header-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form-col .header-wrapper h2 {
  color: var(--clr-neutral-base);
  font-size: clamp(5.5rem, 8vw, 10rem);
}
.form-col form {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-col form label {
  color: var(--clr-neutral-base);
  font-size: var(--fs-400);
}
.form-col form input,
.form-col form textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  background-color: transparent;
  color: var(--clr-neutral-dark);
  border-bottom: 1px solid var(--clr-primary-light);
  resize: none;
}
.form-col form input:focus-within,
.form-col form textarea:focus-within {
  color: var(--clr-neutral-base);
  border-bottom: 1px solid var(--clr-neutral-dark);
}
.form-col form .text-message {
  display: flex;
  gap: 1rem;
}/*# sourceMappingURL=styles.css.map */