@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700&display=swap");
.App {
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

/* General */
section,
main {
  min-height: -moz-fit-content;
  min-height: fit-content;
  overflow: hidden;
}
section:not(:first-child),
main:not(:first-child) {
  margin-top: 4rem;
}

body::-webkit-scrollbar {
  width: 0.35em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent-base);
  border-radius: 0.1875rem;
  cursor: grab;
}

.container {
  width: calc(100% - 6vw);
  margin-inline: auto;
}
@media only screen and (min-width: 768px) {
  .container {
    width: calc(100% - 12vw);
  }
}

.container-small {
  width: calc(100% - 6vw);
  margin-inline: auto;
  transition: 200ms;
}
@media only screen and (min-width: 1080px) {
  .container-small {
    width: calc(100% - 40vw);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 10s linear infinite;
}

body {
  font-size: var(--fs-400);
  font-family: var(--ff-matter);
  background-color: var(--clr-primary-base);
  letter-spacing: -0.5px;
}

h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1;
  font-family: var(--ff-fig);
  color: var(--clr-neutral-base);
  transition: font-size 0.25s linear;
}

h1 {
  font-size: clamp(3.5rem, 8vw, 10rem);
  letter-spacing: -4.2px;
}

h2 {
  font-size: var(--fs-700);
  font-weight: 400;
}

h3 {
  font-size: var(--fs-600);
}

h4 {
  font-size: var(--fs-600);
  color: var(--clr-neutral-base);
  font-weight: 400;
  transition: font-size 0.25s linear;
}

h5 {
  font-size: var(--fs-600);
  color: var(--clr-neutral-base);
  font-weight: 500;
  font-family: var(--ff-fig);
  transition: font-size 0.25s linear;
}

p {
  font-size: var(--fs-400);
  font-family: var(--ff-matter);
  transition: font-size 0.25s linear;
}

small {
  font-family: var(--ff-apercu);
  color: var(--clr-neutral-base);
}

span {
  font-family: var(--ff-matter);
  font-size: var(--fs-300);
}

::-moz-placeholder {
  color: var(--clr-primary-light);
  font-family: var(--ff-apercu);
  font-size: var(--fs-400);
}

::placeholder {
  color: var(--clr-primary-light);
  font-family: var(--ff-apercu);
  font-size: var(--fs-400);
}

.right {
  text-align: end;
  right: 0;
}

.left {
  text-align: start;
  left: 0;
}

.uppercase {
  text-transform: uppercase;
}

ul {
  padding: 0;
}

@font-face {
  font-family: "Antique Olive";
  font-style: normal;
  font-weight: 700;
  src: url(/src/assets/fonts/Antique-Olive-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Apercu Mono";
  src: url(/src/assets/fonts/ApercuMonoProRegular.ttf) format("truetype");
}
@font-face {
  font-family: "Matter";
  src: url(/src/assets/fonts/Matter-Regular.otf) format("opentype");
}
:root {
  --clr-primary-base: hsl(240, 24%, 8%);
  --clr-primary-light: hsl(270, 7%, 24%);
  --clr-primary-dark: hsl(224, 52%, 4%);
  --clr-accent-base: hsl(346, 100%, 50%);
  --clr-accent-light: hsl(13, 100%, 55%);
  --clr-accent-dark: hsl(171, 100%, 43%);
  --clr-neutral-base: hsl(45, 22%, 93%);
  --clr-neutral-light: hsl(28, 27%, 100%);
  --clr-neutral-dark: hsl(32.1, 38%, 63.3%);
  --fs-300: 0.7rem;
  --fs-400: 0.85rem;
  --fs-500: 1.4rem;
  --fs-600: 1.9rem;
  --fs-700: 2.441rem;
  --fs-800: 7rem;
  --ff-apercu: "Apercu Mono", sans-serif;
  --ff-antique: "Antique Olive", sans-serif;
  --ff-matter: "Matter", sans-serif;
  --ff-fig: "Figtree", sans-serif;
}
@media only screen and (min-width: 480px) {
  :root {
    --fs-300: 0.8rem;
    --fs-400: 1rem;
    --fs-500: 1.7rem;
    --fs-600: 2.4rem;
    --fs-700: 4rem;
    --fs-800: 10rem;
  }
}

.mobile-display {
  display: none;
}
@media only screen and (min-width: 480px) {
  .mobile-display {
    display: block;
  }
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.separator {
  height: 2px;
  background: var(--clr-accent-base);
}

.section-header {
  font-family: var(--ff-fig);
  font-size: calc(var(--fs-700) * 4);
  padding: 8rem 0 4rem 0;
  font-weight: 700;
  text-transform: uppercase;
}

.big-header {
  opacity: 0.05;
  color: var(--clr-neutral-base);
  letter-spacing: -8px;
}

.blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  -webkit-backdrop-filter: blur(12vmax);
          backdrop-filter: blur(12vmax);
}

.is-scrolling {
  pointer-events: none;
  opacity: 0;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--clr-primary-dark);
}
.loading svg {
  animation: sk-scaleout 5s infinite ease-in-out alternate;
  background-color: transparent;
}
.loading small {
  color: var(--clr-neutral-base);
  animation: sk-scaleout 5s infinite ease-in-out alternate;
  animation-fill-mode: both;
  letter-spacing: 1.8px;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.item {
  overflow: visible;
  stroke: var(--clr-neutral-dark);
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.item-1 {
  overflow: visible;
  stroke: var(--clr-neutral-base);
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}

@keyframes sk-scaleout {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
button {
  font-family: var(--ff-apercu);
}

.btn-home {
  position: relative;
  padding: 1.2rem 3rem;
  border-radius: 100vw;
  background-color: transparent;
  border: solid 2px var(--clr-primary-light);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.btn-home .button-text {
  position: relative;
  z-index: 2;
  color: var(--clr-neutral-base);
}
.btn-home span {
  font-family: var(--ff-apercu);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
}
.btn-home .fill-container {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding-bottom: 100%;
  transform: translateY(-50%) rotate(180deg);
}
.btn-home .fill-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-light);
  border-radius: 50%;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(-100%);
}
.btn-home:hover {
  border-color: var(--clr-accent-base);
  transform: translateX(-4px);
}
.btn-home:hover .fill-container {
  transform: translateY(-50%) rotate(0);
}
.btn-home:hover .fill-container::after {
  transform: translateY(0);
}

.btn-form {
  position: relative;
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  height: 100%;
  background-color: var(--clr-accent-base);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.btn-form .button-text {
  position: relative;
  z-index: 2;
  color: var(--clr-neutral-base);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-primary-base);
}
.footer small {
  font-size: calc(var(--fs-300) - 3px);
}

.footer-main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
}
@media only screen and (min-width: 768px) {
  .footer-main {
    flex-direction: row;
    padding-block: 4rem;
  }
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--clr-neutral-base);
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.background {
  position: relative;
  width: 3.8rem;
  height: 3.8rem;
  z-index: 2;
}

nav button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 9px;
  left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 3;
}
nav button::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: -4px;
  left: -2px;
  border: 1px solid var(--clr-accent-base);
  border-radius: 50%;
}
nav ul {
  position: absolute;
  top: 200%;
  right: 5rem;
  line-height: 0.9;
  z-index: 4;
}
nav ul a {
  color: var(--clr-primary-dark);
}
nav li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section-link {
  font-family: var(--ff-antique);
  font-size: clamp(4rem, 18vw, 8rem);
  letter-spacing: -0.5rem;
  flex: 1;
}

.icon-list-nav {
  position: absolute;
  left: -1rem;
  max-width: 35rem;
  display: flex;
}

.icon-list-contact {
  display: flex;
  margin-left: -10px;
}

.icon-item {
  list-style: none;
}

.icon-link {
  display: inline-flex;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--clr-neutral-base);
  width: 3rem;
  height: 3rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;
}

.icon-link::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 3rem;
  height: 3rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background: #000;
}

.icon-item:nth-child(2) a:hover:before {
  background: #e4405f;
}

.icon-item:nth-child(3) a:hover:before {
  background: #444444;
}

.icon-item:nth-child(4) a:hover:before {
  background: #0077b5;
}

.icon-project a {
  display: inline-flex;
  font-size: 2rem;
  text-decoration: none;
  color: var(--clr-primary-light);
  width: 3rem;
  height: 3rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.projects-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.projects-list .project-item {
  width: 100%;
  height: 22vh;
  border-block: solid 1px var(--clr-primary-light);
  transition: height 0.5s cubic-bezier(0.165, 0.04, 0.44, 1);
}
.projects-list .project-item:hover {
  height: 500px;
}
.projects-list .project-item:hover .project-container .project-image img.image {
  opacity: 0.3;
  filter: grayscale(0.2);
  transition: all 1.5s cubic-bezier(0.92, 0.18, 0.54, 0.85);
}
.projects-list .project-item:hover .project-container .project-header .project-logo {
  display: block;
}
.projects-list .project-item .project-container {
  display: flex;
}
.projects-list .project-item .project-container .project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  margin-block: 1rem;
}
.projects-list .project-item .project-container .project-header img {
  width: 4rem;
}
.projects-list .project-item .project-container .project-header .project-logo {
  display: none;
  margin-top: 1rem;
  transition: all 0.3s cubic-bezier(0.165, 0.04, 0.44, 1);
}
.projects-list .project-item .project-container .project-header .project-logo img {
  width: 3rem;
  opacity: 0.5;
}
.projects-list .project-item .project-container .project-image {
  position: relative;
  overflow: hidden;
}
.projects-list .project-item .project-container .project-image img.image {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  filter: grayscale(0.8);
  transition: all 0.3s cubic-bezier(0.165, 0.04, 0.44, 1);
}
.projects-list .project-item .project-container .project-image .project-content {
  position: absolute;
  top: 0;
  padding: 2rem;
}
.projects-list .project-item .project-container .project-image .project-content h5 a {
  color: var(--clr-neutral-base);
  font-size: var(--fs-600);
  text-transform: uppercase;
}

.logo {
  position: relative;
  z-index: 5;
}
.logo span {
  font-size: var(--fs-500);
  color: var(--clr-neutral-dark);
  letter-spacing: -1.5px;
}

.lng-switch {
  cursor: pointer;
  z-index: 2;
}
.lng-switch ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  opacity: 0.7;
  cursor: pointer;
}
.lng-switch ul li a {
  text-transform: uppercase;
  color: var(--clr-neutral-dark);
  font-weight: 700;
  font-size: var(--fs-300);
}
.lng-switch ul li a:hover {
  color: var(--clr-neutral-base);
}

.hero-section {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.hero-section .location-text {
  position: absolute;
  bottom: 6vh;
  right: 0;
}
.hero-section .location-text p {
  color: var(--clr-neutral-base);
  font-size: var(--fs-400);
  margin-block: 0.3rem;
}
.hero-section .location-text .date p {
  color: var(--clr-primary-light);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero-main-container {
  height: 100vh;
}
.hero-main-container .hero-text-wrap {
  margin-top: 13vh;
}
.hero-main-container .hero-text-wrap .hero-name {
  font-size: clamp(2rem, 5vw, 9rem);
  color: var(--clr-primary-light);
  font-weight: 700;
  transition: all 2s cubic-bezier(0.165, 0.04, 0.44, 1);
}
.hero-main-container .hero-text-wrap .hero-name span {
  font-size: clamp(2rem, 5vw, 9rem);
  color: var(--clr-neutral-base);
}
.hero-main-container .hero-text-wrap .hero-title-top {
  font-size: clamp(3.5rem, 8vw, 9rem);
  font-weight: 700;
  transition: all 2s cubic-bezier(0.165, 0.04, 0.44, 1);
}
.hero-main-container .hero-text-wrap .hero-title-middle {
  left: 4rem;
  font-weight: 700;
  font-size: clamp(3.5rem, 8vw, 9rem);
  transition: all 2s cubic-bezier(0.165, 0.04, 0.44, 1);
}

.icon-up {
  color: var(--clr-accent-base);
  font-size: var(--fs-400);
  text-align: end;
}
.icon-up svg {
  font-size: 2rem;
  margin-right: 1rem;
}

.about-container {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 1080px) {
  .about-container {
    flex-direction: row;
  }
}

.about-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.about-description {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-direction: column;
}
@media only screen and (min-width: 1080px) {
  .about-description {
    flex-direction: row;
  }
}
.about-description .content-right-col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.5rem;
  flex-basis: 1;
}
.about-description .content-right-col small {
  color: var(--clr-primary-light);
  letter-spacing: 2px;
}
.about-description .content-left-col {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 2rem;
  gap: 1rem;
  flex-basis: 1;
}
.about-description .content-left-col .text-right {
  color: var(--clr-primary-light);
  font-weight: 500;
}
.about-description .content-left-col span {
  font-size: var(--fs-600);
  color: var(--clr-neutral-base);
}
.about-description .content-left-col small {
  color: var(--clr-accent-base);
  letter-spacing: 2px;
}
.about-description .arrow-wrapper {
  display: none;
}
@media only screen and (min-width: 1080px) {
  .about-description .arrow-wrapper {
    color: var(--clr-neutral-base);
    background: var(--clr-primary-dark);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .about-description .arrow-wrapper svg {
    animation: fadeBounce 2s infinite;
  }
}
.about-description p {
  color: var(--clr-neutral-base);
  line-height: 2rem;
}
.about-description span {
  color: var(--clr-neutral-dark);
  font-size: var(--fs-400);
}

.about-big-text {
  font-family: var(--ff-fig);
  font-size: calc(var(--fs-800) * 2.5);
  opacity: 0.05;
  color: var(--clr-neutral-base);
  letter-spacing: -8px;
}

.slide-wrapper {
  margin-top: 8rem;
}

.logo-slider {
  filter: grayscale(1);
  width: 5rem;
}
.logo-slider:hover {
  filter: none;
}

.about-socials {
  border: solid 1px var(--clr-accent-base);
  border-radius: 2rem;
  padding: 1rem;
  width: 2rem;
}

.projects-container {
  margin-block: 4rem;
}

#contact-section {
  background-color: #16161e;
  border: solid 1px var(--clr-primary-light);
  padding: 2rem;
  height: auto;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 6rem;
}
@media only screen and (min-width: 768px) {
  .contact {
    padding: 2rem;
    flex-direction: row;
  }
}

.contact-col {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex: 1;
}
.contact-col .contact-text-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-col .contact-text-message p {
  color: var(--clr-neutral-base);
  font-size: var(--fs-400);
  line-height: 2rem;
  margin-bottom: 2rem;
}
.contact-col .info-option {
  display: flex;
  flex-direction: column;
}
.contact-col .info-option span {
  color: var(--clr-neutral-base);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact-col .info-option .info-desc-wrapper {
  display: flex;
  flex-direction: row;
}

.contact-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-neutral-light);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  cursor: pointer;
}
.contact-arrow svg {
  font-size: clamp(5rem, 7vw, 8rem);
  color: var(--clr-accent-base);
}
@media only screen and (min-width: 768px) {
  .contact-arrow {
    height: 10rem;
    width: 10rem;
  }
}

.form-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.form-col .header-wrapper {
  display: flex;
  align-items: end;
  margin-bottom: 2rem;
}
.form-col .header-wrapper h2 {
  color: var(--clr-neutral-base);
  letter-spacing: -6px;
  font-size: clamp(4rem, 6vw, 8rem);
}
.form-col form {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-col form label {
  color: var(--clr-neutral-base);
  font-size: var(--fs-300);
}
.form-col form input,
.form-col form textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  background-color: transparent;
  color: var(--clr-neutral-dark);
  border-bottom: 1px solid var(--clr-primary-light);
  resize: none;
}
.form-col form input:focus-within,
.form-col form textarea:focus-within {
  color: var(--clr-neutral-base);
  border-bottom: 1px solid var(--clr-neutral-dark);
}
.form-col form .text-message {
  display: flex;
  gap: 1rem;
}/*# sourceMappingURL=styles.css.map */